/* TODO: figure out how to make webpack do this for me */

@import "icons/style.scss";

body {
    padding-top: 70px;
}

@import "pygments.scss";

pre.blocks {
    background-color: initial;
    border: initial;
    padding: 0;
}

@import "scratchblocks.scss";

.post-count {
    color: white;
}

.navbar-brand>img {
    display: inline;
    position: relative;
    top: -4px;
    vertical-align: text-top;
}

.beta-mark {
    opacity: 0.8;
}

.react-spinner {
  position: relative;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  margin-top: 15px;
}

.react-spinner_bar {
  -webkit-animation: react-spinner_spin 1.2s linear infinite;
  -moz-animation: react-spinner_spin 1.2s linear infinite;
  animation: react-spinner_spin 1.2s linear infinite;
  border-radius: 5px;
  background-color: black;
  position: absolute;
  width: 20%;
  height: 7.8%;
  top: -3.9%;
  left: -10%;
}

@keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-moz-keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-webkit-keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

/*
 * BBCode
 */
.bb-underline {
	text-decoration: underline;
}
.bb-italic {
	font-style: italic;
}
.bb-bold {
	font-weight: bold;
}
.bb-strikethrough {
	text-decoration: line-through;
}
.bb-big {
	font-size: 17px;
}
.bb-small {
	font-size: 10px;
}

.bb-quote-author {
	font-weight: bold;
	margin-bottom: 6px;
}

.sorting-selector {
    margin-top: -0.4em;
    margin-bottom: 1em;
}

.disabled.active > a {
    background-color: #fff;
}
