{{> header}}
<form class="search-form">
    <div class="form-group">
        <input id="big-search-box" class="form-control input-lg search-box" type="text" placeholder="Search...">
    </div>
    <button id="go" class="btn btn-primary btn-lg hidden search-sub" type="submit">Search</button>
</form>
<div id="results">

</div>
{{> footer}}
