body {
    padding-top: 70px;
}

pre.blocks {
    background-color: initial;
    border: initial;
    padding: 0;
}

.post-count {
    color: white;
}

.navbar-brand>img {
    display: inline;
    position: relative;
    top: -4px;
    vertical-align: text-top;
}

.beta-mark {
    opacity: 0.8;
}

.sorting-selector {
    margin-top: -0.4em;
    margin-bottom: 1em;
}

.disabled.active > a {
    background-color: #fff;
}

.resultLink {
    color: initial;
    text-decoration: none !important;
}
.resultLink:hover {
    color: initial;
    div {
        opacity: 0.9;
    }
}

.sideAvatar {
    position: absolute;
    left: -60px;
    top: 0px;
}
.resultPanel {
    position: relative;
}

@media (max-width: 991px) {
    .sideAvatar {
        position: initial;
        // left: 0;
        // top: 0;
        width: 16px;
        height: 16px;
    }
}
@media (min-width: 991px) and (max-width: 1260px) {
    .resultPanel {
        margin-left: 50px;
    }
}


img {
    max-width: 100%;
}
